

<!DOCTYPE HTML>
<html>
<head>
    <meta charset="utf-8">
    <title></title>
    <meta name="renderer" content="webkit|ie-comp|ie-stand">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="keywords" content="" />
    <meta name="description" content="" />
    <!--<link rel="alternate" media="handheld" href="http://m.insgeek.com//financial/withdraw" />-->
    <link rel="shortcut icon" href="http://www.insgeek.com/favicon.ico"/>
    <link rel="bookmark" href="http://www.insgeek.com/favicon.ico"/>
    <link href="http://www.insgeek.com/public/insgeek2.0/css/bootstrap.min.css?var=2.3.7" rel="stylesheet">
    <link href="http://www.insgeek.com/public/insgeek2.0/font-awesome/css/font-awesome.css?var=2.3.7" rel="stylesheet">
    <!--图片浏览样式-->
    <link href="http://www.insgeek.com/public/insgeek2.0/css/plugins/blueimp/css/blueimp-gallery.min.css?var=2.3.7" rel="stylesheet">
    <!-- Sweet Alert -->
    <link href="http://www.insgeek.com/public/insgeek2.0/css/plugins/sweetalert/sweetalert.css?var=2.3.7" rel="stylesheet">
    <!-- 日期组件样式表 -->
    <link href="http://www.insgeek.com/public/insgeek2.0/css/plugins/datapicker/datepicker3.css?var=2.3.7" rel="stylesheet">
    <!-- 流程组件样式-->
    <link href="http://www.insgeek.com/public/insgeek2.0/css/plugins/steps/jquery.steps.css?var=2.3.7" rel="stylesheet">
    <!-- FooTable -->
    <link href="http://www.insgeek.com/public/insgeek2.0/css/plugins/footable/footable.core.css?var=2.3.7" rel="stylesheet">
    <!-- Morris -->
    <link href="http://www.insgeek.com/public/insgeek2.0/css/plugins/morris/morris-0.4.3.min.css?var=2.3.7" rel="stylesheet">
    <link href="http://www.insgeek.com/public/insgeek2.0/css/animate.css?var=2.3.7" rel="stylesheet">
    <link href="http://www.insgeek.com/public/insgeek2.0/css/style.css?var=2.3.7" rel="stylesheet">
    <link href="http://www.insgeek.com/public/insgeek2.0/css/insgeek.css?var=2.3.7" rel="stylesheet">
    <!--drag-->
    <link rel="stylesheet" href="http://www.insgeek.com/public/insgeek2.0/css/plugins/drag/drag.css?var=2.3.7">
    <!-- Toastr style -->
    <link href="http://www.insgeek.com/public/insgeek2.0/css/plugins/iCheck/custom.css?var=2.3.7" rel="stylesheet">
    <link href="http://www.insgeek.com/public/insgeek2.0/css/plugins/datapicker/datepicker3.css?var=2.3.7" rel="stylesheet">
    <!--slick-->
    <link href="http://www.insgeek.com/public/insgeek2.0/css/plugins/slick/slick.css?var=2.3.7" rel="stylesheet">
    <link href="http://www.insgeek.com/public/insgeek2.0/css/plugins/slick/slick-theme.css?var=2.3.7" rel="stylesheet">
    <!-- Mainly scripts -->
    <script src="http://www.insgeek.com/public/insgeek2.0/js/jquery-2.1.1.js"></script>
    <script src="http://www.insgeek.com/public/insgeek2.0/js/bootstrap.min.js"></script>
    <script src="http://www.insgeek.com/public/insgeek2.0/js/plugins/metisMenu/jquery.metisMenu.js"></script>
    <script src="http://www.insgeek.com/public/insgeek2.0/js/plugins/slimscroll/jquery.slimscroll.min.js"></script>
    <!-- Topup -->
    <script type="text/javascript" src="http://www.insgeek.com/public/insgeek2.0/js/topup.js"></script>
    <!-- 浮动菜单 -->
    <script type="text/javascript" src="http://www.insgeek.com/public/insgeek2.0/js/zzsc.js"></script>
    <script type="text/javascript" src="http://www.insgeek.com/public/js/common_ajax.js"></script>
    <!-- login -->
    <script src="http://www.insgeek.com/public/insgeek2.0/js/igCustom.js"></script>
    <script src="http://www.insgeek.com/public/insgeek2.0/js/login/login.js"></script>
    <!--[if lt IE 9]>
    <div class="alert alert-danger topframe" role="alert">您的浏览器实在<strong>太旧了！</strong>，请先升级完浏览器！
        <a target="_blank" class="alert-link" href="http://browsehappy.com">立即升级</a>
    </div>
    <![endif]-->
    <!--baidu-->
    <script>
        var _hmt = _hmt || [];
        (function() {
            var hm = document.createElement("script");
            hm.src = "//hm.baidu.com/hm.js?65d9d9cb17716f625cef80c30abe65b4";
            var s = document.getElementsByTagName("script")[0];
            s.parentNode.insertBefore(hm, s);
        })();
        var root = "http://www.insgeek.com";
    </script>
    <!--baidu-->
    <!--GrowingIO 统计开始-->
    <script type='text/javascript'>
        var _vds = _vds || [] ;
        window._vds = _vds ;

        (function() {
            _vds.push( [ 'setAccountId', 'a91cb60d13f150c5' ] ) ;
            (function() {
                var vds = document.createElement( 'script' ) ;
                vds.type = 'text/javascript' ;
                vds.async = true ;
                vds.src = ( 'https:' == document.location.protocol ? 'https://' : 'http://' ) + 'dn-growing.qbox.me/vds.js' ;
                var s = document.getElementsByTagName( 'script' )[ 0 ] ;
                s.parentNode.insertBefore( vds, s ) ;
            })() ;
        })() ;
    </script>
    <!--GrowingIO 统计结束-->

</head>
<body class="top-navigation gray-bg">
<!--固定定位回到顶部-->

<div class="position-fixed">
    <div class="position-menu">
        <a class="position-icon position-icon-same myclear" onclick="NTKF.im_openInPageChat('kf_9337_1467719589751')" >
            <i class="position-icon-1"></i>
            <div class="icon-hover hover-font">
                <div>工作日&nbsp;08:00-20:00</div>
                <span class="label label-warning">现在咨询</span>
            </div>
            <script language="javascript" type="text/javascript">
                NTKF_PARAM = {
                    siteid:"kf_9337",		            //企业ID，为固定值，必填
                    settingid:"kf_9337_1467719589751",	//接待组ID，为固定值，必填
                    uid:"61249",		                //用户ID，未登录可以为空，但不能给null，uid赋予的值显示到小能客户端上
                    uname:"测试",		            //用户名，未登录可以为空，但不能给null，uname赋予的值显示到小能客户端上
                    isvip:"0",                          //是否为vip用户，0代表非会员，1代表会员，取值显示到小能客户端上
                    userlevel:"60",		        //网站自定义会员级别，0-N，可根据选择判断，取值显示到小能客户端上
                    erpparam:"abc"                      //erpparam为erp功能的扩展字段，可选，购买erp功能后用于erp功能集成
                }
            </script>
            <script type="text/javascript" src="http://dl.ntalker.com/js/xn6/ntkfstat.js?siteid=kf_9337" charset="utf-8"></script>
        </a>
        <span class="position-icon position-icon-same myclear">
            <i class="position-icon-2"></i>
            <span class="icon-hover hover-font hover-wechat">
                <img class="hover-wechat-img" src="http://www.insgeek.com/public/group/img/weixin_erweima.jpg" alt=""/>
            </span>
        </span>
        <span class="position-icon position-icon-same myclear">
            <i class="position-icon-3"></i>
            <span class="icon-hover hover-font form-bg-1">
                <span>工作日&nbsp;08:00-20:00</span>
                <span class="fa fa-phone">&nbsp;400-886-2309</span>
            </span>
        </span>
        <!--<div class="position-icon position-icon-spec myclear">-->
        <!--<i class="position-icon-4"></i>-->
        <!--<div class="icon-hover hover-font hover-table">-->
        <!--<div class="panel blank-panel">-->
        <!--<div class="panel-body">-->
        <!--<div class="tab-content">-->
        <!--<div class="tab-pane active">-->
        <!--<form class="form-horizontal"  id="feedbackForm">-->
        <!--<div class="form-group">-->
        <!--<span class="left-font pull-left">公司名称</span>-->
        <!--<input type="text" class="right-table pull-right form-control" name="feedback_company_name" />-->
        <!--</div>-->
        <!--<div class="form-group">-->
        <!--<span class="left-font pull-left">联系人</span>-->
        <!--<input type="text" class="right-table pull-right form-control" name="feedback_realname" />-->
        <!--</div>-->
        <!--<div class="form-group">-->
        <!--<span class="left-font pull-left">电话</span>-->
        <!--<input type="text" class="right-table pull-right form-control" name="feedback_mobile" />-->
        <!--</div>-->
        <!--<div class="form-group">-->
        <!--<span class="left-font pull-left">邮箱</span>-->
        <!--<input type="email" class="right-table pull-right form-control" name="feedback_email" />-->
        <!--</div>-->
        <!--<div class="form-group">-->
        <!--<span class="left-font pull-left">人数</span>-->
        <!--<input type="text" class="right-table pull-right form-control" name="feedback_number" />-->
        <!--</div>-->
        <!--<div class="form-group last-form-group">-->
        <!--<span class="we-contact-font pull-left">我们将在24小时内与您联系</span>-->
        <!--<button type="button" id="feedbackForm_submit" class="btn btn-warning pull-right">提交</button>-->
        <!--</div>-->
        <!--</form>-->
        <!--<span class="error-font" id="showMsg" style="display:none;">信息有误！</span>-->
        <!--<div class="submit-success" id="showReturn" style="display: none">-->
        <!--<img src="http://www.insgeek.com/public/group/img/happy.png" alt=""/>-->
        <!--<span class="success-font">提交成功<br/>我们将在24小时内与您联系</span>-->
        <!--<button type="button" class="btn btn-primary btn-backup" id="returnForm" style="margin-bottom: 40px">返回</button>-->
        <!--</div>-->
        <!--</div>-->
        <!--</div>-->
        <!--</div>-->
        <!--</div>-->
        <!--</div>-->
        <!--</div>-->
        <span class="position-icon position-icon-same enter-top">
            <i class="position-icon-5"></i>
        </span>
    </div>
</div>
<script>
    $(function () {
        //提交预约报价
        $(document).on("click", "#feedbackForm_submit", function ()
        {
            var showMsgObj=$("#showMsg");
            var formObj = $("#feedbackForm");
            var feedback_company_name=$.trim(formObj.find("input[name='feedback_company_name']").val());
            var feedback_realname=$.trim(formObj.find("input[name='feedback_realname']").val());
            var feedback_mobile=$.trim(formObj.find("input[name='feedback_mobile']").val());
            var feedback_email=$.trim(formObj.find("input[name='feedback_email']").val());
            var feedback_number=$.trim(formObj.find("input[name='feedback_number']").val());


            if(feedback_company_name) {

            }
            else {
                showMsgObj.show().html("必须填写公司名称");
                return false;
            }

            if(feedback_realname) {
                var realnameReg = /^[\u4e00-\u9fa5]{2,15}$/;
                if (!realnameReg.test(feedback_realname)) {
                    showMsgObj.show().html("联系人姓名：2-15个汉字");
                    return false;
                }

            }
            else {
                showMsgObj.show().html("必须填写真实姓名");
                return false;
            }

            if(feedback_mobile) {
                var mobileReg = /^1[3-8][0-9]{9}$/;
                if (!mobileReg.test(feedback_mobile))
                {
                    showMsgObj.show().html("手机号码只能是11位数字");
                    return false;
                }
            }
            else {
                showMsgObj.show().html("必须填写手机号码");
                return false;
            }

            if(feedback_email) {
                var emailReg = /^([a-zA-Z0-9]+[_|-|.]?)*[a-zA-Z0-9]+@([a-zA-Z0-9]+[_|-|.]?)*[a-zA-Z0-9]+.[a-zA-Z]{2,3}$/gi;
                if (!emailReg.test(feedback_email)) {
                    showMsgObj.show().html("邮箱格式错误");
                    return false;
                }
            }
            else {
                showMsgObj.show().html("必须填写邮箱");
                return false;
            }

            if(feedback_number) {
                var numberReg = /^[0-9]+$/;
                if (!numberReg.test(feedback_number)) {
                    showMsgObj.show().html("员工人数只能是数字");
                    return false;
                }
            }
            else {
                showMsgObj.show().html("员工人数必须填写");
                return false;
            }

            showMsgObj.hide().html("");

            $.ajax({
                type:"post",
                url:"http://www.insgeek.com/feedback/bespeak_save/"+Math.random(),
                data:formObj.serialize(),
                dataType:"json",
                cache:false,
                async:false,
                success:function(response)
                {
                    if(response==1)
                    {
                        formObj.hide();
                        $("#showReturn").show();
                    }
                }
            });//end ajax

        });
        $(document).on("click","#returnForm",function() {
            $("#feedbackForm").show();
            $("#showReturn").hide();
            $("#feedbackForm")[0].reset();
        });
    });
</script>

<!--回到顶部结束-->
<div id="wrapper">
<div class="gray-bg" id="page-wrapper" style="padding: 0">
<!--头部内容开始-->
<div class="row nav-top">
    <div class="navy-bg">
        <div class="container">
            <div class="pull-right">
                <span class="pull-left text-white font-16" style="padding-right: 15px"><strong><i class="fa fa-phone"></i> 400-886-2309 </strong></span>
                <ul class="pull-left head-erwei clearfix">
                    <li class="clearfix">
                        <span class="head-hover head-hover-zeo"></span>
                                <span class="head-hover-show">
                                    <span class="hover-top-triangle"></span>
                                    <span class="pec-box">
                                        <img src="http://www.insgeek.com/public/insgeek2.0/img/weixin_erweima.jpg" alt="微信二维码">
                                        <span class="remind-font">关注极客公众号<br/>随身便携百保箱</span>
                                    </span>
                                </span>
                    </li>
                    <li class="clearfix">
                        <span class="head-hover head-hover-one"></span>
                                <span class="head-hover-show">
                                    <span class="hover-top-triangle"></span>
                                    <span class="pec-box">
                                        <img src="http://www.insgeek.com/public/insgeek2.0/img/sina_erweima.jpg" alt="微博二维码">
                                        <span class="remind-font">关注极客微博，简约<br/>文字，博览保险众生态</span>
                                    </span>
                                </span>
                    </li>
                    <li class="clearfix">
                        <span class="head-hover head-hover-two"></span>
                                <span class="head-hover-show">
                                    <span class="hover-top-triangle"></span>
                                    <span class="pec-box">
                                        <img src="http://www.insgeek.com/public/insgeek2.0/img/baoyan_erweima.jpg" alt="保研班二维码">
                                        <span class="remind-font">关注保研班<br/>洞悉风险，乐享保障</span>
                                    </span>
                                </span>
                    </li>
                </ul>
                         <span id="login_reg" class="login">
                                 <a href="http://www.insgeek.com/group/index.html" >
                                     <img src="http://www.insgeek.com/public/insgeek2.0/img/header/group.png" > 测试									 </a>
                                     <a data-toggle="modal" data-target="#personlAccount"><i class="fa fa-retweet"></i> 切换用户</a><div class="modal inmodal" id="personlAccount" tabindex="-1" role="dialog"  aria-hidden="true">
                             <div class="modal-dialog login-modal-dialog">
                                 <div class="modal-content animated fadeIn">
                                     <div class="finance-recharge float-e-margins">
                                         <div class="form-horizontal">
                                             <div class="modal-header">
                                                 <button type="button" class="close" data-dismiss="modal">
                                                     <span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
                                                 <h3>账户切换</h3>
                                                 <small>请输入个人账户</small>
                                             </div>
                                             <div class="modal-body">
                                                 <form id="form_password"  name="form" action="http://www.insgeek.com/Login/logindo" method="post">
                                                     <div class="alert alert-danger alert-dismissable" style="display:none">
                                                         <p class="small" id="errorMsgIDLogin">您输入用户名或密码错误.</p>
                                                     </div>
                                                     <div class="form-group">
                                                         <label class="login-name control-label font-noraml">登录名称</label>
                                                         <div class="login-input">
                                                             <input name="user" id="userID" type="text" class="form-control bind-enter"
                                                                    placeholder="账号 / 手机号码 / 身份证">
                                                         </div>
                                                     </div>
                                                     <div class="form-group">
                                                         <label class="login-name control-label font-noraml">登录密码</label>
                                                         <div class="login-input">
                                                             <input name="password" id="passwordID" type="password" class="form-control bind-enter"
                                                                    placeholder="密码">
                                                         </div>
                                                     </div>
                                                     <div class="form-group">
                                                         <label class="login-name control-label font-noraml">验证码</label>
                                                         <div class="login-input">
                                                             <div id="drag-person" class="drag-public" style="width: 278px"></div>
                                                         </div>
                                                     </div>
                                                     <input name="fromURL" type="hidden" value="" />
                                                     <input type="hidden" value="1" name="login_mode"/>
                                                     <div class="form-group" style="margin-bottom: 0">
                                                         <div style="margin: 20px auto;width: 150px;">
                                                             <button type="button" id="form_password_submit" class="btn btn-primary btn-block login-btn">登 录</button>
                                                         </div>
                                                     </div>
                                                 </form>
                                                 <div class="text-center" style="font-size: 13px;color: #aaa;">若您忘记登录密码，请先登出当前<br/>账户，并在登录页进行密码找回</div>
                                             </div>
                                             <div class="modal-footer">
                                                 <button type="button" class="btn btn-white" data-dismiss="modal">关闭</button>
                                             </div>
                                         </div>
                                     </div>
                                 </div>
                             </div>
                         </div>
                                                                  <a href="http://www.insgeek.com/login/logout"><span class="glyphicon glyphicon-log-out"></span> 退出</a>
                             </span>
            </div>
        </div>
    </div>
</div>
<div class="row white-bg head-warp">
    <div class="container head">
        <a href="http://www.insgeek.com" class="pull-left">
            <img src="http://www.insgeek.com/logo.png" alt="logo" title="保险极客"/>
        </a>
                <span style="float: left;height: 30px;line-height:30px;margin: 20px 0 20px 5px;font-size: 16px;color: #00ab9f;padding-left: 10px;border-left: 1px solid #00ab9f" title="中小企业员工保障">
                    中小企业员工保障
                </span>
        <!--新版导航设计-->
        <div class="nav-box" id="navbar" style="margin-right: -20px">
            <ul>
                <li id="index">
                    <a href="http://www.insgeek.com/"><span class="navbar-spacing">首</span>页</a>
                </li>
                <li id="insurancetemplate">
                    <a href="http://www.insgeek.com/InsuranceTemplate/index">产品中心</a>
                </li>
                <li id="user">
                    <a href="http://www.insgeek.com/user/insurance">保险管家</a>
                </li>
            </ul>
        </div>
    </div>
</div>

<div class="wrapper wrapper-content">
<div class="container">
<div class="row">
<div class="col-xs-2">
    <div class="top-border white-bg">
        <ul class="nav metismenu" id="side-menu">
            <li id="index-group">
                <a href="http://www.insgeek.com/group/index">
                    <i class="fa fa-home"></i><span class="nav-label">用户首页</span>
                </a>
            </li>
            <li>
                <a href="#">
                    <i class="fa fa-calendar-o"></i><span class="nav-label">保障管理</span>
                    <span class="fa arrow"></span>
                </a>
                <ul class="nav left-m collapse">
                    <li id="insurance">
                        <a href="http://www.insgeek.com/group/insuranceList">
                            <i class="fa fa-list-alt"></i>保障方案
                        </a>
                    </li>
                    <li id="userlist">
                        <a href="http://www.insgeek.com/group/userList">
                            <i class="fa fa-sitemap"></i>成员管理
                        </a>
                    </li>
                </ul>
            </li>
            <li>
                <a href="#">
                    <i class="fa fa-pie-chart"></i><span class="nav-label">数据统计</span>
                    <span class="fa arrow"></span>
                </a>
                <ul class="nav left-m collapse">
                    <li id="lipei_s">
                        <a href="http://www.insgeek.com/DataStatistics/lipei_statistical">
                            <i class="fa fa-line-chart"></i>报销统计
                        </a>
                    </li>
                    <li id="user_s">
                        <a href="http://www.insgeek.com/DataStatistics/user_statistical">
                            <i class="fa fa-area-chart"></i>人管统计
                        </a>
                    </li>
                </ul>
            </li>
            <li>
                <a href="#">
                    <i class="fa fa-calculator"></i><span class="nav-label">财务中心</span>
                    <span class="fa arrow"></span>
                </a>
                <ul class="nav left-m nav-second-level collapse">
                    <li id="financialIndex">
                        <a href="http://www.insgeek.com/financial/index"><i class="fa fa-list"></i> 总览</a>
                    </li>
                    <li id="charge">
                        <a href="http://www.insgeek.com/financial/charge"><i class="fa fa-money"></i> 充值</a>
                    </li>
                    <li id="payment">
                        <a href="http://www.insgeek.com/financial/payment"><i class="fa fa-external-link"></i> 缴费</a>
                    </li>
                    <li id="withdraw">
                        <a href="http://www.insgeek.com/financial/withdraw"><i class="fa fa-credit-card"></i> 提现</a>
                    </li>
                    <li id="manageInfo">
                        <a href="http://www.insgeek.com/financial/manageInfo"><i class="fa fa-cogs"></i> 管理设置</a>
                    </li>
                    <li id="changeFinancialPassword" style="margin-bottom:0">
                        <a href="http://www.insgeek.com/financial/changeFinancialPassword"><i class="fa fa-tasks"></i> 财务密码</a>
                    </li>
                </ul>
            </li>
            <li id="updateGroupUserInfo">
                <a href="http://www.insgeek.com/group/updateGroupUserInfo">
                    <i class="fa fa-cog"></i><span class="nav-label">账户维护</span>
                </a>
            </li>
            <li id="admin_log">
                <a href="http://www.insgeek.com/DataStatistics/admin_log">
                    <i class="fa fa-pencil-square"></i><span class="nav-label">操作记录</span>
                </a>
            </li>
        </ul>
    </div>
</div>
<div id="page" data-page="withdraw"></div>
<div class="col-xs-10">
    <div class="finance-recharge ibox float-e-margins">
        <div class="ibox-title">
            <span>提现</span>
        </div>
        <div class="ibox-content">
            <ul id="ins_tabs" class="nav-tabs">
                <li class="active">
                    <a data-toggle="tab" href="#tab-1" aria-expanded="true">现金提取</a>
                </li>
                <li>
                    <a data-toggle="tab" href="#tab-2" aria-expanded="false" class="count-info">提现记录</a>
                </li>
            </ul>
            <div class="tab-content global-tab-content">
                <div class="tab-pane active" id="tab-1">
                    <div class="alert alert-warning " style="margin-top: 15px"> <i class="fa fa-exclamation"></i>
                        您所能提现的金额只能小于或等于可提现金额
                    </div>
                    <!--group为组，组中分为charge-head为头部，body为内容-->
                    <div class="charge-group clear">
                        <div class="charge-head">账户余额：</div>
                        <div class="charge-body">
                            <span class="pull-left"> <em class="text-danger">0.00</em> <em class="text-danger"></em>
                                <em>元</em>
                            </span>
                            <span class="pull-left zyOnmouseDep text-info" style="font-size: 14px;margin:3px 0 0 10px">冻结金额：0.00 元 <i class="fa fa-question-circle text-info"></i></span>
                            <span class="zyShowDep publicBubble">
                                此金额正在提现中，请稍后查询
                                <i class="triangle-zyShowDep triangle-zyShow-public"></i>
                            </span>
                        </div>
                    </div>
                    <div class="hr-line-dashed"></div>
                    <div class="charge-group clear">
                        <div class="charge-head">可提余额：</div>
                        <div class="charge-body" style="width: 710px;">
                            <span class="zyOnmouseDep">
                                <em class="text-danger">0.00</em>
                                <em>元</em> <i class="fa fa-question-circle text-info"></i>
                            </span>
                            <span class="zyShowDep publicBubble">
                                余额中的红包收入、积分兑换收入、未缴清保障的理赔金将影响可提现的额度
                                <i class="triangle-zyShowDep triangle-zyShow-public"></i>
                            </span>
                        </div>
                    </div>
                    <form action="/Financial/extractPost.html" id="myform" method="post">
                        <div class="hr-line-dashed"></div>
                        <div class="deposit-table deposit-password charge-group myclear">
                            <div class="charge-head">提现金额：</div>
                            <div class="charge-body form-group">
                                <input type="hidden" name="serviceToken" value="9d234558be35cf57235026aa94704793">
                                <input type="text" id="money" name="money" maxlength="8" class="form-control" placeholder="请输入本次的提现金额" style="width:467px" />
                            </div>
                        </div>
                        <div class="hr-line-dashed"></div>
                        <div class="deposit-table deposit-password charge-group myclear">
                            <div class="charge-head">收款账户名：</div>
                            <div class="charge-body form-group">
                                <input type="text" id="name" name="name" maxlength="32" class="form-control" form="myform" style="width:467px" />
                            </div>
                        </div>
                        <div class="hr-line-dashed"></div>
                        <div class="deposit-table deposit-password charge-group myclear credited-account">
                            <div class="charge-head">收款账户：</div>
                            <div class="charge-body form-group pattern-payment">
                                <select id="select1" name="bank_type" class="form-control pull-left" form="myform">
                                    <option value="0">银联借记卡</option>
                                    <option value="1">支付宝</option>
                                </select>
                                <input type="text" id="bank_number" name="bank_number" class="form-control pull-left bank-detail" placeholder="请输入收款账户"></div>
                        </div>
                        <div class="hr-line-dashed line-dashed-hidden"></div>
                        <div class="deposit-table deposit-password charge-group myclear open-bank-hidden">
                            <div class="charge-head">开户行：</div>
                            <div class="charge-body form-group pattern-payment">
                                <input type="text" id="bank_name" maxlength="25" name="bank_name" class="form-control pull-left bank-name" autocomplete="off" />
                                <input type="text" id="mesh_point" maxlength="128" name="mesh_point" class="form-control pull-left bank-detail" placeholder="请输入开户网点名称" autocomplete="off" /></div>
                        </div>
                        <div class="hr-line-dashed"></div>
                        <div class="deposit-table deposit-password charge-group myclear">
                            <div class="charge-head">财务密码：</div>
                            <div class="charge-body form-group ">
                                <div class="alieditContainer pull-left" id="payPassword_container">
                                    <input type="password" id="payPassword_rsainput" name="payPassword_rsainput" class="ui-input i-text sixDigitPasswordInput" autocomplete="off" value="" maxlength="6" style="outline: none; margin-left: -999px;"></div>
                                <span class="pull-left" style="border: 0;">
                                    <a href="http://www.insgeek.com/financial/findFinancialPassword.html" target="_blank" tabindex="-1">忘记密码?</a>
                                </span>
                            </div>

                        </div>
                        <div class="hr-line-dashed verify_code" style="display: none;"></div>
                        <div class="deposit-table deposit-password charge-group myclear verify_code" style="display: none;">
                            <div class="charge-head">验证码：</div>
                            <div class="charge-body form-group financial-box-width">
                                <input type="text" id="code" maxlength='4' class="form-control pull-left financial-password-input" form="myform"/>
                                <span class="pull-left login-box" style="margin-left: 20px">
                                    <img class="verity-pec" id="verity-pec" onclick="this.src='http://www.insgeek.com/verify/verify_show/'+Math.random()"/>
                                </span>
                            </div>
                        </div>
                        <div class="hr-line-dashed"></div>
                        <div class="charge-group myclear">
                            <button id="company_submit" class="btn btn-primary btn-sm btn-de">申请提现</button>
                        </div>
                    </form>
                </div>
                <div class="tab-pane" id="tab-2">
                    <div class="ibox-title" style="padding: 10px 0 0 0;border: 0;font-size: 14px;">
                        <div class="form-group pull-left" id="data_5" style="padding: 0;">
                            <select class="form-control select-show-time select-time pull-left" id="withdrawTradeSelect" style="width: 200px;height: 30px;">
                                <option value="0">近一周</option>
                                <option value="1">近一个月</option>
                                <option value="2">近三个月</option>
                                <option value="3">全部</option>
                                <option value="4">自定义</option>
                            </select>
                            <div class="user-defined-show pull-left" style="margin-left: 20px">
                                <div class="input-daterange input-group pull-left" id="datepicker">
                                    <input type="text" class="input-sm form-control" name="start" readonly id="startTime" value="2017-02-08" />
                                    <span class="input-group-addon" style="background-color: white">至</span>
                                    <input type="text" class="input-sm form-control" name="end" readonly id="endTime" value="2017-02-08" />
                                </div>
                                <button class="btn btn-primary pull-left" style="margin: 0;margin-left: 20px;padding: 4px 12px;" id="withdrawTradeDataBtn">查询</button>
                            </div>
                        </div>
                        <!-- <div class="download pull-right" style="line-height: 35px;">
                            <a href="#">下载提现记录</a>
                        </div> -->
                    </div>
                    <div class="ibox-content no-border" style="padding: 0">
                        <table class="table pay-table table-hover" id="withdrawTradeLog" style="margin-top: 0">
                            <thead>
                            <tr>
                                <th style="width: 170px">申请时间</th>
                                <th style="width: 120px">银行流水单号</th>
                                <th class="pay-table-font-r" style="width: 150px">提现金额（元）</th>
                                <th style="width: 160px">收款账号</th>
                                <th style="width: 170px">保险极客交易单号</th>
                                <th style="width: 130px">提现状态</th>
                            </tr>
                            </thead>
                            <tbody>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
</div>
</div>
</div>

<!-- footer 开始 -->
<div class="row foot-bar navy-bg">
    <div class="container">
        <div class="col-xs-8">
            <div class="col-xs-4" onselectstart="return false;" unselectable="on">
                <img class="bottom-erwei-pec" src="http://www.insgeek.com/public/insgeek2.0/img/foot-er.png">
                <span class="bottom-erwei-font text-center">微信关注保险极客</span>
            </div>
            <ul class="list-unstyled col-xs-2 foot-md text-center">
                <h3>探索极客</h3>
                <li><a href="http://www.insgeek.com/help/view/cid/8.html" rel="nofollow">关于我们</a></li>
                <li><a href="http://www.insgeek.com/help/team.html" rel="nofollow">极客团队</a></li>
                <li><a href="http://www.insgeek.com/help/view/cid/19.html" rel="nofollow">资质展示</a></li>
                <li><a href="http://www.insgeek.com/help/view/cid/9.html" rel="nofollow">联系我们</a></li>
            </ul>
            <ul class="list-unstyled col-xs-2 foot-md text-center">
                <h3>享用极客</h3>
                <li><a href="http://www.insgeek.com/help/view/cid/10.html" rel="nofollow">企业员福</a></li>
                <li><a href="http://www.insgeek.com/help/view/cid/11.html" rel="nofollow">企业保障</a></li>
                <li><a href="http://www.insgeek.com/help/view/cid/12.html" rel="nofollow">个人服务</a></li>
                <li><a href="http://www.insgeek.com/help/view/cid/13.html" rel="nofollow">战略合作</a></li>
            </ul>
            <ul class="list-unstyled col-xs-2 foot-md text-center">
                <h3>极客动态</h3>
                <li><a href="http://www.insgeek.com/help/view/cid/6.html" rel="nofollow">媒体报道</a></li>
                <li><a href="http://www.insgeek.com/help/view/cid/7.html" rel="nofollow">极客快讯</a></li>
            </ul>
            <ul class="list-unstyled col-xs-2 foot-md text-center">
                <h3>极客帮助</h3>
                <li><a href="http://www.insgeek.com/help/view/cid/14.html" target="_blank" rel="nofollow">新人指南</a></li>
                <li><a href="http://www.insgeek.com/help/view/cid/15.html" rel="nofollow">常见问题</a></li>
                <li><a href="http://www.insgeek.com/help/view/cid/16.html" target="_blank" rel="nofollow">服务协议</a></li>
            </ul>
        </div>
        <div class="col-xs-4 text-center">
            <p style="font-size: 34px;margin-bottom: 8px;"><i class="fa fa-phone"></i> 400-886-2309</p>
            <p style="margin-bottom: 6px;"><a style="color: #fff" rel="nofollow" onclick="NTKF.im_openInPageChat('kf_9337_1467719589751')"><i class="fa fa-heart"></i> 在线客服
                <script language="javascript" type="text/javascript">
                    NTKF_PARAM = {
                        siteid:"kf_9337",		            //企业ID，为固定值，必填
                        settingid:"kf_9337_1467719589751",	//接待组ID，为固定值，必填
                        uid:"61249",		                //用户ID，未登录可以为空，但不能给null，uid赋予的值显示到小能客户端上
                        uname:"测试",		    //用户名，未登录可以为空，但不能给null，uname赋予的值显示到小能客户端上
                        isvip:"0",                          //是否为vip用户，0代表非会员，1代表会员，取值显示到小能客户端上
                        userlevel:"60",		                //网站自定义会员级别，0-N，可根据选择判断，取值显示到小能客户端上
                        erpparam:"abc"                      //erpparam为erp功能的扩展字段，可选，购买erp功能后用于erp功能集成
                    }
                </script>
                <script type="text/javascript" src="http://dl.ntalker.com/js/xn6/ntkfstat.js?siteid=kf_9337" charset="utf-8"></script>
            </a>
                <a  style="color: #fff" rel="nofollow" onclick="NTKF.im_openInPageChat('kf_9337_1467719589751')"><i class="fa fa-thumbs-up" style="padding-left: 75px"></i> 反馈建议
                    <script language="javascript" type="text/javascript">
                        NTKF_PARAM = {
                            siteid:"kf_9337",		            //企业ID，为固定值，必填
                            settingid:"kf_9337_1467719589751",	//接待组ID，为固定值，必填
                            uid:"61249",		                //用户ID，未登录可以为空，但不能给null，uid赋予的值显示到小能客户端上
                            uname:"测试",		    //用户名，未登录可以为空，但不能给null，uname赋予的值显示到小能客户端上
                            isvip:"0",                          //是否为vip用户，0代表非会员，1代表会员，取值显示到小能客户端上
                            userlevel:"60",		                //网站自定义会员级别，0-N，可根据选择判断，取值显示到小能客户端上
                            erpparam:"abc"                      //erpparam为erp功能的扩展字段，可选，购买erp功能后用于erp功能集成
                        }
                    </script>
                    <script type="text/javascript" src="http://dl.ntalker.com/js/xn6/ntkfstat.js?siteid=kf_9337" charset="utf-8"></script>
                </a></p>
            <p style="margin-bottom: 6px;"><i class="fa fa-envelope-o"></i> 客服邮箱 service@insgeek.com</p>
            <p style="margin-bottom: 6px;"><i class="fa fa-clock-o"></i> 工作时间 ( 工作日 08:00-20:00 ) </p>
            <p style="text-align: left;padding-left: 54px;margin-bottom: 6px"><i class="fa fa-suitcase"></i> 商务合作 010-67029688</p>
        </div>
    </div>
</div>
<div class="row footer-bottom">
    <div class="container">
        <div class="ins-maindiv ins-center clearfix">
            <div class="col-xs-12 text-center text-muted">
                <small class="friendly-link">
                    <a href="http://www.ab-insurance.com/" target="_blank" rel="nofollow">安邦保险</a>
                    <a href="http://www.pingan.com" target="_blank" rel="nofollow">中国平安</a>
                    <a href="http://www.unionlife.com.cn/" target="_blank" rel="nofollow">合众人寿</a>
                    <a href="http://www.taikang.com/tkyl" target="_blank" rel="nofollow">泰康养老</a>
                    <a href="https://www.newchinalife.com" target="_blank" rel="nofollow">新华保险</a>
                    <a href="http://www.haodf.com" target="_blank" rel="nofollow">好大夫在线</a>
                    <a href="http://www.qinqinxiaobao.com" target="_blank" rel="nofollow">亲亲小保</a>
                    <a href="http://www.qiban.com/" target="_blank" rel="nofollow">企办</a>
                    <a href="https://qiye.xingyoucai.com/" target="_blank" rel="nofollow">中子星企明星</a>
                    <a href="https://www.evervc.com/" target="_blank" rel="nofollow">天天投</a>
                    <a href="https://www.daxiangrenshi.com/" target="_blank" rel="nofollow">大象人事</a>
                    <a href="http://www.xnaren.com/" target="_blank" rel="nofollow">纳人</a>
                </small>
            </div>
            <div class="col-xs-12 text-center text-muted">
                <p>
                    <small>
                        保险极客<a href="http://www.insgeek.com/">员工福利</a>产品&nbsp;© 2014-2016 Insgeek.com All Rights Reserved
                        <a href="http://www.miitbeian.gov.cn/publish/query/indexFirst.action" target="_blank" rel="nofollow">京ICP备15030724号 </a>
                    </small>
                    <br>
                    <small>
                        请使用IE9+/Chrome/Firefox/360急速模式，获得最佳浏览体验
                        <!--<a href="http://m.insgeek.com/financial/withdraw">[ 移动端 ]</a>-->
                    </small>
                </p>
            </div>
            <div class="col-xs-12 text-center">
                <div class="photos">
                    <a href="http://www.insgeek.com">
                        <img src="http://www.insgeek.com/logo_a.png" alt="logo" title="保险极客"/>
                    </a>
                    <a id='___szfw_logo___' href='https://credit.szfw.org/CX20150928011852880188.html' target='_blank'><img src='http://icon.szfw.org/cert.png' border='0' width="90" height="33"/></a>
                    <script type='text/javascript'>(function(){document.getElementById('___szfw_logo___').oncontextmenu = function(){return false;}})();</script>
                    <a href='https://ss.knet.cn/verifyseal.dll?sn=e15072711010859602eeyb000000&a=1&pa=0.06950726862664514' target='_blank'  rel="nofollow"><img src='http://www.insgeek.com/public/insgeek2.0/img/knet_logo.png' border='0'/></a>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- footer 结束 -->
</div>
</div>
<link rel="stylesheet" type="text/css" href="http://www.insgeek.com/public/INS-UI/css/jquery-ui.css?var=2.3.7">
<script src="http://www.insgeek.com/public/INS-UI/js/jquery-ui.js"></script>
<script src="http://www.insgeek.com/public/js/common_ajax.js"></script>
<script src="http://www.insgeek.com/public/insgeek2.0/js/jquery.pwd.js"></script>
<script>
$(function() {
    $(window).on('keydown',function(e){
        var event=e||window.event;
        var keyCode=event.keyCode;
        if(keyCode==32){
            event.preventDefault();
            return;
        }
    })
    var withdrawTradeRecords = [];
    var dt = $('.table-hover').dataTable({
        data:withdrawTradeRecords,
        bLengthChange: false,
        ordering: false,
        searching: false,
        bStateSave: true //状态保存
    });

    var DATE_TYPE = 4;

    var startTimeObj = $('#startTime');
    var endTimeObj = $('#endTime');
    $('#withdrawTradeSelect').change(function(){
        var val = $(this).val();
        if(val != DATE_TYPE){
            requestLogByTime(val);
        }
    });

    $('#withdrawTradeDataBtn').click(function(){
        requestLogByTime(DATE_TYPE);
    });

    function requestLogByTime(option) {
        callAjax({
            option: option,
            start_time: startTimeObj.val(),
            end_time: endTimeObj.val()
        }, 0, function (response) {
            var data = JSON.parse(response);
            if (data.length > 0) {
                dt.fnClearTable();
                dt.fnAddData(data);
            } else {
                dt.fnClearTable();
            }
        }, 'http://www.insgeek.com/financial/getWithdrawTradeLogByTime/');


    }


    /*account remaining show*/
    var zyOnmouse = $('.zyOnmouseDep');
    zyOnmouse.hover(function () {
        $(this).next('.zyShowDep').css('display', 'inline-block');
    }, function () {
        $(this).next('.zyShowDep').css('display', 'none');
    });
    /*when select value is user-defined,the time controller show*/
    var selectShowTime = $('.select-show-time');
    selectShowTime.on('change', function() {
        if ($(this).val() == '4') {
            $(this).next('.user-defined-show').css({
                display: 'table'
            })
        } else {
            $(this).next('.user-defined-show').css({
                display: 'none'
            })
        }
    });
    /*time select initialize*/
    $('#data_5 .input-daterange').datepicker({
        format: 'yyyy-mm-dd',
        todayHighlight:true,
        keyboardNavigation: false,
        forceParse: false,
        autoclose: true
    });
    /*if Account to be credited not "银联借记卡" ,"open-bank-hidden" hidden*/
    var creditAccount = $('.credited-account'),
            openBankHidden = $('.open-bank-hidden'),
            lineDashHidden = $('.line-dashed-hidden');
    creditAccount.find('select').on('change', function() {
        if ($(this).val() != '0') {
            openBankHidden.css('display', 'none');
            lineDashHidden.css('display', 'none');
        } else {
            openBankHidden.css('display', 'block');
            lineDashHidden.css('display', 'block');
        }
    });
    /*财务密码输入框*/
    $("#payPassword_container").Alipay(function (e) {
        if(e.length == 6){
            hideStatus();
            password_flag =true;
        }else{
            password_flag =false;
        }
        verificationAll();
    });
    var selectObj = $('#select1');
    choiceInput();
    function choiceInput(){
        array = '';
        array_name ='';
        var select = selectObj.val();
        if (select == '0') {
            array = ["6228480402564890018"];
            array_name = [["\u6d4b\u8bd5","\u4e2d\u56fd\u519c\u4e1a\u94f6\u884c","\u5317\u4eac"]];
        } else if (select == '1') {
            array = null;
            array_name = null;
        }
        if(array ==null && array_name==null){
            array = '';
            array_name ='';
        }
        if (array != '' && array != 'undefined') {
            $('#bank_number').autocomplete({ //id为input标签
                minLength: 0, //第几位触发列表
                source: array, //arr变量为列表数组，json
                create: function(event, ui) {
                    $(this).bind('click', function() {
                        $(this).autocomplete('search', '');
                    })
                }
            })
        }
        if (array_name != '' && array_name != 'undefined') {
            $('#name').autocomplete({ //id为input标签
                minLength: 0, //第几位触发列表
                source: array_name, //arr变量为列表数组，json
                create: function(event, ui) {
                    $(this).bind('click', function() {
                        $(this).autocomplete('search', '');
                    })
                }
            })
        }
    }
    var money_flag =false; //金额
    var name_flag = false; //用户名
    var bank_number_flag = false; //帐号
    var bank_name_flag = false; //银行名称
    var mesh_point_flag = false; //开户网点
    var password_flag = false; //验证码
    //金额
    var moneyObj = $('#money');
    var bank_numberObj = $('#bank_number');
    function amountOfMoney() {
        var money = moneyObj.val() == ''?'':parseFloat(moneyObj.val());
        moneyObj.val(money);     //转换输入框的显示方式，例如11.00 -> 11 , 11.20->11.2
        var balance = 0; //可提现余额
        if (money == '' || money == 0 || money > balance || balance <= 0) {
            moneyObj.addClass('error');
            showStatus('金额有误请重新输入');
            error('#money');
            money_flag = false;
        }else{
            hideStatus('#money');
            money_flag = true;
        }
    }
    //账户名
    function userName() {
        var name = $('#name').val();
        if (name != '') {
            hideStatus('#name');
            name_flag = true;
        } else {
            $('#name').addClass('error');
            showStatus('姓名不能为空');
            error('#name');
            return false;
        }
    }
    //账户
    function bankNumber() {
        var select = selectObj.val();
        var bank_reg = /^(\d{12,19})$/; //银行卡正则
        var bank_number = $('#bank_number').val();
        if (select == '0') {
            if (!bank_reg.test(bank_number)) {
                showStatus('银行卡号输入有误');
                $('#bank_name').val('');
                error('#bank_number');
                bank_number_flag = false;
            } else {
                callAjax({
                    'account_number': bank_number
                }, 0, function(response) {
                    if (response!='') {
                        $('#bank_name').val(response);
                        hideStatus('#bank_number');
                        hideStatus('#bank_name');
                        bankName();
                        bank_number_flag = true;
                    }else{
                        error('#bank_number');
                        $('#bank_name').val('');
                        bank_name_flag =false;
                        bank_number_flag = false;
                    }
                }, "http://www.insgeek.com/Service/getBankInfoByAccountID/");
                hideStatus('#bank_number');
                bank_number_flag =  true;
            }
        } else if (select == '1') {
            if (check_mobile_format(bank_number) != 1 && check_email_format(bank_number) != 1) {
                showStatus('支付宝帐号输入有误');
                error('#bank_number');
                bank_number_flag = false;
            } else {
                $('#bank_name').val('支付宝');
                hideStatus('#bank_number');
                bank_number_flag =  true;
            }
        }
    }
    //银行名称
    function bankName() {
        if (selectObj.val() == '0') {
            if ($('#bank_name').val() == '') {
                showStatus('请输入银行名称');
                error('#bank_name');
                bank_name_flag = false;
            } else {
                hideStatus('#bank_name');
                bank_name_flag =  true;
            }
        } else {
            bank_name_flag = true;
        }
        verificationAll();
    }
    //开户网点
    function meshPoint() {
        if (selectObj.val() == '0') {
            if ($('#mesh_point').val() == '') {
                showStatus('开户网点不能为空');
                error('#mesh_point');
                mesh_point_flag = false;
            } else {
                hideStatus('#mesh_point');
                mesh_point_flag =  true;
            }
        } else {
            mesh_point_flag = true;
            verificationAll();
        }
    }
    verificationAll();
    moneyObj.blur(function() {
        amountOfMoney();
        verificationAll();
    })
    $('#name').blur(function() {
        userName();
        verificationAll();
    })
    $('#bank_number').blur(function() {
        bankNumber();
        verificationAll();
    })
    $('#mesh_point').blur(function() {
        meshPoint();
        verificationAll();
    })
    $("#bank_name").blur(function() {
        bankName();
        verificationAll();
    })
    $('#code').blur(function() {
        var code_val = $('#code').val();
        if (code_val == '') {
            showStatus('验证码不能为空');
            error('#code');
        }else if(code_val.length !=4){
            showStatus('验证码格式错误');
            error('#code');
        }else{
            hideStatus('#code');
        }
        verificationAll();
    })
    selectObj.change(function() {
        if(bank_numberObj.val()!=''){
            bankNumber();
        }
        if(selectObj.val() ==0 && bank_numberObj.val() !=''){
            bankName();
            meshPoint();
        }else if(selectObj.val() == 1){
            bankName();
            meshPoint();
        }
        choiceInput();
        verificationAll();
    })
    //验证全部
    function verificationAll(){
        if( money_flag !=false && name_flag !=false && bank_number_flag !=false && mesh_point_flag !=false && bank_name_flag!=false && password_flag!=false){
            $('#company_submit').attr('disabled',false);
        }else{
            $('#company_submit').attr('disabled',true);
        }
    }
    bindInputEventForFloatText([$('#money')]);
    //验证密码
    var $fpObj = $('#payPassword_rsainput');
    var $codeObj = $('#code');
    var $imgObj = $('#verity-pec');
    var $verifyContainerObj = $('.verify_code');
    var isCheckVerifyCode = false;
    function passwordVerify() {
        var v = $fpObj.val();
        var data = {pass: v};
        var f = false;
        if (isCheckVerifyCode) {
            data.verify_code = $.trim($codeObj.val());
        }
        callAjax(data, PRD, function(res) {
            if (res.code == 1) {
                hideStatus('#payPassword_rsainput');
                verificationAll();
                f = true;
            } else if (res.code == -1) { // 财务密码输入有，需要判断是否需要输入验证码
                if (res.error_count >= 3) {
                    isCheckVerifyCode = true;
                    $imgObj.click();
                    $verifyContainerObj.show();
                }
                error('#payPassword_rsainput');
                showStatus('财务密码输入错误');
                f = false;
            } else {
                $imgObj.click();
                error('#code');
                showStatus(res.msg);
                f = false;
            }
        }, 'http://www.insgeek.com/Financial/verifyFinancialPasswordAjax/');

        return f;
    }
    //验证验证码
    function verificationCode() {
        var code = $('#code').val();
        callAjax({
            'verify': code
        }, 0, function(response) {
            decode = response;
        }, "http://www.insgeek.com/Verify/verify_check_ajax/");
        if (decode == 0) {
            error('#code');
            refreshVerifyImage();
            showStatus('验证码有误');
            return false;
        } else {
            hideStatus('#code');
            return true;
        }
    }
    $('#company_submit').click(function (){
        return passwordVerify();
    })
    //更新验证码
    function refreshVerifyImage(){
        $('#verity-pec').attr('src','http://www.insgeek.com/verify/verify_show/+Math.random()'+Math.random());
    }
    //显示错误提示
    function showStatus(contents) {
        $('.alert-warning').text('').show().addClass('alert-danger').append(contents);
    }
    //隐藏错误提示
    function hideStatus(classname) {
        $(classname).removeClass('error');
        $('.alert-warning').removeClass('alert-danger').text('').text('！您所能提现的金额只能小于或等于可提现金额');
    }
    //错误输入框标红
    function error(classname) {
        $(classname).addClass('error');
    }

    //提现金额的输入规则
    function bindInputEventForFloatText( objArray ) {
        $.each( objArray, function( i, n ) {
            n.bind( 'input', function( e ) {
                var $t = $( this ) ;
                $t.val( $t.val().replace( /[^\d.]/g,"" ) ) ;
                $t.val( $t.val().replace( /^\./g,"" ) ) ;
                $t.val( $t.val().replace( /\.{2,}/g,"." ) ) ;
                $t.val( $t.val().replace( ".","$#$").replace(/\./g,"").replace("$#$","." ) ) ;
                $t.val( $t.val().replace( /^(\-)*(\d+)\.(\d\d).*$/,'$1$2.$3' ) ) ;
            } ) ;
        } ) ;
    }
})
</script>

<!--vuejs-->
<script src="http://www.insgeek.com/public/insgeek2.0/js/vuejs/vue.js"></script>
<script src="http://www.insgeek.com/public/insgeek2.0/js/ig_common.js"></script>
<!-- Data Tables -->
<script src="http://www.insgeek.com/public/insgeek2.0/js/plugins/dataTables/jquery.dataTables.js"></script>
<script src="http://www.insgeek.com/public/insgeek2.0/js/plugins/dataTables/dataTables.bootstrap.js"></script>

<!-- iCheck -->
<script src="http://www.insgeek.com/public/insgeek2.0/js/plugins/iCheck/icheck.min.js"></script>
<!-- 时间组件 -->
<script src="http://www.insgeek.com/public/insgeek2.0/js/plugins/datapicker/bootstrap-datepicker.js"></script>

<!-- Sweet alert -->
<script src="http://www.insgeek.com/public/insgeek2.0/js/plugins/sweetalert/sweetalert.min.js"></script>
<!-- 图片浏览 -->
<script src="http://www.insgeek.com/public/insgeek2.0/js/plugins/blueimp/jquery.blueimp-gallery.min.js"></script>
<!-- 流程组件 -->
<script src="http://www.insgeek.com/public/insgeek2.0/js/plugins/staps/jquery.steps.min.js"></script>
<!-- FooTable -->
<script src="http://www.insgeek.com/public/insgeek2.0/js/plugins/footable/footable.all.min.js"></script>
<!-- Custom and plugin javascript -->
<script src="http://www.insgeek.com/public/insgeek2.0/js/inspinia.js"></script>
<script src="http://www.insgeek.com/public/insgeek2.0/js/plugins/pace/pace.min.js"></script>
<!-- Page-Level Scripts -->
<!--slick-->
<script src="http://www.insgeek.com/public/insgeek2.0/js/plugins/slick/slick.min.js"></script>
<!--drag-->
<script src="http://www.insgeek.com/public/insgeek2.0/js/plugins/drag/drag.js"></script>
<script type="text/javascript">
    $(function () {
        var page= "#"+ $("#page").attr("data-page");
        $(page).addClass("active");
        $(page).parent().addClass("in");
        $(page).parent().parent().addClass("active");
        //alert(page);
        $('.date').datepicker({
            format: 'yyyy-mm-dd',
            keyboardNavigation: false,
            forceParse: false,
            autoclose: true
            //todayBtn: 'linked'
        });
    });
</script>
</body>
</html>